header {
  position: fixed;
  top: 0;
  background-color: rgb(25, 100, 130);
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
}

header > * {
  margin: 1%;
}

header > a {
  color: white;
}

header > a:hover {
  color: white;
}

#info {
  padding: 0.5%;
  background-color: rgb(14, 61, 80);
}

#info:hover {
  background-color: rgb(7, 46, 61);
  color: white;
}

#homeLogo {
  font-size: 2.5em;
}

#logout {
  margin-left: auto;
  margin-right: 3%;
}

#logout:hover {
  background-color: rgb(221, 224, 224);
}

#homeBody {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: auto;
  height: 70vh;
  position: fixed;
  top: 30vh;
  right: 0;
  left: 0;
  overflow: auto;
}

#homeBody::-webkit-scrollbar {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* nav {
  position: absolute;
  top: 120px;
  /* background-color: rgb(116, 184, 211); */
/* padding: 5%;
} */
*/ body {
  font-family: Arial, sans-serif;
}

nav {
  position: fixed;
  top: 23%;
  left: 9%;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.inactive {
  background-color: rgb(116, 184, 211);
}

.active {
  background-color: #e9ecef;
}

#homeBody {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: auto;
  height: 70vh;
  position: fixed;
  top: 30vh;
  right: 0;
  left: 0;
  overflow: auto;
}

nav > a {
  border-top-right-radius: 1em;
  border-top-left-radius: 0.5em;

  text-decoration: none;
  color: #495057;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  border-bottom: none;
  margin: 0 5px;
}

nav > a:hover {
  background-color: rgb(211, 225, 230);
  color: black;
}
